body{
    font-size: 20px;
    background-color: burlywood;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
}
#b{
    font-size: 30px;
}
.sp{
    position: absolute;
}
.spimg{
    width:30px;
    height:30px;
}
.popSing{
    display: none;
}
input {
    width: 300px;
}
.top{
    height: 36px;
    margin: 0 0;
    background-color: #ddd;
    color:darkolivegreen;
}
#suc{
    color: green;
}
#err{
    color:indianred;
}
.win{
    display: none;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    padding-top: 20px;
    width: 260px;
    background-color: #ddd;
    height: 220px;
    border:rgb(5, 5, 5) double;
    text-align: center;
}
.win div{
    margin-bottom: 20px;
}
.win img{
    width: 100px;
    height: 100px;
}